<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Answers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Answers</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card-content>
  Round 1
  <ol>

  <li>Mexico</li>
  <li>Mike Pence</li>
  <li>2008</li>
  <li>Rita Wilson</li>
  <li>24</li>
  <li>1991</li>
  <li>Fr Kevin</li>
  <li>Empire</li>
  <li>Kenny Rogers</li>
  <li>5</li>
  </ol>
</ion-card-content>
</ion-content>
