<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Questions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Questions</ion-title>
    </ion-toolbar>
   
  </ion-header>
 <ion-card-content>
   Round 1

  <ol>
  <li>  What country did corona beer originate?</li> 
  <li> Who is the US vice president?</li> 

  <li> What year was Adele’s album 19 released? </li>
  <li> What’s Tom hanks wife’s name ? </li>
 <li>  Which show was idris Elba not in? 24 the bill and the wire ?</li> 
 <li> What year did DJ Carey win his first All Ireland? </li>
 <li> what was tommy Tiernan’s characters name in father ted? </li>
  <li> Florida is the sunshine state , California is the golden state. New York is the ________ state? </li>
  <li> Which country legend known for 'Island in the Stream' and 'The Gambler' sadly died in March 2020? </li>
  <li> How many lines in a limerick ? </li>
</ol>
</ion-card-content> 
<ion-button (click)="presentAlert()" expand="block" fill="solid" >Click Here for tiebreaker Question</ion-button>

<br><br>
</ion-content>
